.input-text {
  color: #43588f;
  word-wrap: break-word;
}

.mf-layer__input-text {
  line-height: 1.25 !important;
  padding: 0 5px 0 !important;
}

.notes-box {
  color: #43588f;
}

.notes-style {
  line-height: 1.25 !important;
  padding: 0 5px 0 5px !important;
}

.units {
  padding: 0 5px 0 5px !important;
}

