.notes-styles {
  height: auto;
  width: auto;
  max-width: 250px;
  max-height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* position: absolute; */
  /* width: 50%; */
}

.header-styles {
  height: auto;
  width: auto;
  max-width: 150px;
  max-height: 150px;
  margin-bottom: 15px;
}

.owner-styles {
  height: auto;
  width: auto;
  max-width: 200px;
  max-height: 150px;
}

.logo-wrapper {
  margin: 30px 30px 10px 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


