.button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button-styles {
    margin: 5px;
}

.header-links-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.home-link {
    margin-left: 75px;
    display: flex;
    flex-direction: row;
    justify-self: end;
}

.owner-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.branding {
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: start;
}