.input-text {
  color: #43588f;
  word-wrap: break-word;
  min-height: 75px !important;
}

/* .mf-layer__input-text {
  line-height: 1.25 !important;
  padding: 0 5px 0 !important;
} */

/* .mf-layer__input-text:focus {
  box-shadow: 0 0 2px 2px #43588f !important;
} */

.notes-box {
  color: #43588f;
}

.notes-style {
  line-height: 1.25 !important;
  padding: 0 5px 0 5px !important;
}

.units {
  padding: 0 5px 0 5px !important;
}

.comment-header {
  font-weight: 700;
}

.input-not-validated {
  box-shadow: 0 0 2px 2px #f44336;
  outline: none;
}

.controlled-input {
  margin: 10px;
}

.units-controlled-input {
  height: auto;
  width: 10vw;
}

.controlled-input-rows {
  display: flex;
  flex-direction: row;
  gap: 1%;
}

.name-controlled-input {
  width: 379px;
}

.home-view-container {
  width: 768px;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

.close-button-wrapper {
  padding: 10px;
  position: absolute;
}

.submit-delete-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button {
  margin: 5px;
}
