.more-actions-button {
  display: flex;
  justify-content: end;
  margin-right: 10px;
}

.note-date {
  font-weight: 300;
  color: #b4b4b4;
  margin: 0 0 0 15px;
  display: flex;
  flex-direction: row;
  align-self: center;
}

.note-box {
  margin: 10px 10px 10px 15px;
}

.edit-save-button {
  /* margin: 0 0 0 15px; */
}

.menu__action-button-group {
  display: flex;
  justify-content: space-between;
}

.menu__action-button-typography {
  margin-right: 10px;
}

.date-edit-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
